<launch>
    <include file="$(find takin_bringup)/launch/takin_teleop.launch"/>
    <include file="$(find takin_bringup)/launch/takin_detection.launch"/>
    <include file="$(find takin_bringup)/launch/takin_slam.launch"/>
    <include file="$(find takin_bringup)/launch/takin_speaker.launch"/>
    <include file="$(find takin_bringup)/launch/takin_web_ui.launch"/>    
</launch>
