<launch>
    <node name="joy_node" pkg="joy" type="joy_node">
    <param name="autorepeat_rate" value="20" />
    <param name="deadzone" value="0.20" />
    <param name="dev" value="/dev/input/js0" />
    <remap from="diagnostics" to="dompe" />
    </node>
    <include file="$(find capra_arm_description)/launch/test_launch.launch"/>
    <include file="$(find sara_control)/launch/sara_hardware.launch"/>
    <include file="$(find sara_launch)/launch/control/sara_controllers.launch"/>
    <node pkg="sara_teleop" type="sara_teleop" name="sara_teleop" output="screen">
    </node>
</launch>
